body {
  background-image: url(Media/12169928-a02a-4a7d-8a71-54b27e5bd563.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  background-color: #142e1f;
  color: #ffffff;
  padding: 10px;
  line-height: 35px;
}

#game {
  max-width: 950px;
  max-height: 450px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 50px auto 0px;
  padding: 15px;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
}

#controls,
#stats {
  border: 2px solid #142e1f;
  padding: 5px;
  color: #0a0a23;
  text-align: center;
}

#monsterStats {
  display: none;
  padding: 8px;
  color: #ffffff;
  background-color: #c51515;
}

.stat {
  padding-right: 10px;
}

button {
  border: 3px solid #e69b2bc7;
  background-color: #f7d139;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
}

button:hover {
  background-color: #ffaa00;
}
